body{
    font-family: Arial;
    
    
}

.background-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 2000px;
}

.splash-content {
background-color: lightgrey;

width: 60vw;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(0, 0, 0, .75)
;


}

.splash-title{
    font-size: 100px;
    text-align: center;
    color: sienna;
}

.splash-subtitle{
    text-align:center;
}

.splash-button {
    margin: 0 auto;
    display: block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0;
    border: 3px sienna;
    color: salmon;

    
}
 
    .site-title {
        text-align: center;
    }



.page-title {
text-align: center;
}

.main-menu {
    text-align: center;
}